<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4" style="height:150px;width:200px">
                    <img src="~/images/adidas.png" alt="" style="max-height:100%;max-width:100%">
                </div>
                <div class="bg-light p-4" style="height:150px;width:200px">
                    <img src="~/images/columbia.png" alt="" style="max-height:100%;max-width:100%">
                </div>
                <div class="bg-light p-4" style="height:150px;width:200px">
                    <img src="~/images/hummel.jpg" alt="" style="max-height:100%;max-width:100%">
                </div>
                <div class="bg-light p-4" style="height:150px;width:200px">
                    <img src="~/images/ikea.png" alt="" style="max-height:100%;max-width:100%">
                </div>
                <div class="bg-light p-4" style="height:150px;width:200px">
                    <img src="~/images/koctas.jpg" alt="" style="max-height:100%;max-width:100%">
                </div>
                <div class="bg-light p-4" style="height:150px;width:200px">
                    <img src="~/images/lacoste.jpg" alt="" style="max-height:100%;max-width:100%">
                </div>
                <div class="bg-light p-4" style="height:150px;width:200px">
                    <img src="~/images/nike.png" alt="" style="max-height:100%;max-width:100%">
                </div>
            </div>
        </div>
    </div>
</div>