@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid pb-5">
    <div class="row px-xl-5">

        @await Component.InvokeAsync("_ProductDetailImageSliderComponentPartial", new { productId = ViewBag.ProductId })

        @await Component.InvokeAsync("_ProductDetailFeatureComponentPartial", new { productId = ViewBag.ProductId })

    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Ürün Açıklaması</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Ürün Bilgileri</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Yorumlar</a>
                </div>
                <div class="tab-content">

                    @await Component.InvokeAsync("_ProductDetailDescriptionComponentPartial", new { productId = ViewBag.ProductId })

                    @await Component.InvokeAsync("_ProductDetailInformationComponentPartial", new { productId = ViewBag.ProductId })

                    @await Component.InvokeAsync("_ProductDetailReviewComponentPartial", new { productId = ViewBag.ProductId })

                </div>
            </div>
        </div>
    </div>
</div>