@model GetByIdCargoCompanyDto

@{
    ViewData["Title"] = "UpdateCargoCompany";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kargo Firması Güncelleme</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" asp-for="Id" />
                        <label>Ad</label>
                        <input type="text" class="form-control" asp-for="Name" />
                        <br />
                        <button class="btn btn-primary">Kargo Firması Güncelle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>