<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item sidebar-category">
            <p>Menü</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Default/Index">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Siteye Git</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/User/Profile/Index">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Profilim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/User/MyOrder/MyOrderList">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Siparişlerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/User/Message/Inbox">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Gelen Kutum</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/User/Message/Sendbox">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Giden Kutum</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>